@import "fonts/bebasneue";
@import "fonts/gillSans";
@import "variables";
@import "~@coreui/coreui-pro/scss/coreui.scss";
@import "~@coreui/coreui-pro/scss/_dropdown-menu-right.scss";
@import "custom";
@import "ie-fix";
@import "fixes";

$spinkit-spinner-color: $body-color;
@import '~spinkit/scss/spinkit.scss';

.bebas{
  font-family: "Bebas Neue";
}

.gill{
  font-family: "Gill Sans";
}

.app {
  font-family: "Gill Sans";
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
}

$blue: #3399FF;

.aside {
  margin: 50px 0;
  flex-grow: 0;
  .side-nav {
    width: 100%;
    padding: 0;
    .link {
      min-width: 200px;
      padding: 0 20px;
      width: 100%;
      height: 40px;
      display: grid;
      align-items: center;
      grid-template-columns: 21px 1fr;
      grid-column-gap: 10px;
      color: rgba(0, 0, 0, 0.8);
      transition: 0.1s ease-out;

      &:hover {
        color: #3399FF;
      }

      &.active {
        background-color: #3399FF;
        color: white;
      }
    }
  }
}

.aside--right {
  flex: 0 0 400px;

  .aside--right--content {
    //background: #FFFFFF;
    //box-shadow: 0px 2.05013px 2.05013px rgba(60, 75, 100, 0.14);
    //border-radius: 8.20051px;
    //padding: 25px 15px;
    width: 100%;
    margin-top: 20px;
  }
}

.mainCard {
  flex-grow: 1;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  margin: 20px 0 20px 0;
  position: relative;
  z-index: 2;
  border: unset;
}

.btn-primary {
  background-color: #3399FF;
}

.border-primary {
  border-color: #3399FF !important;
}

.progressWrapper {
  & > .progress {
    height: 5px;
  }
}

#root {
  .ui {
    font-family: "Gill Sans";
    &.blue {
      &.button {
        background-color: $blue;
      }
      &.label{
        color: $blue !important;
        border-color: $blue !important;
      }
    }
  }
}

